<%- include ("partials/header") -%>

<!-- navigation bar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li><a href="/starterpack">Trainee Starter Pack</a></li>
      <li class="is-active"><a href="/login">Induction Powerpoints</a></li>
    
    </ul>
  </div> 





<div class="notification is-primary">
  
      <!-- column 1 -->
      <div class="box">
        these files are password protected &#128274.

        <p>enter password:</p>
        <input type="password">
        <a href="/powerpoints"><button>submit</button></a>
     

    </div>
    
  </div>

  <%- include ("partials/footer-protocols") -%> 
</div>
